@page "/"
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>
<div class="container-fluid content-home">
    <div class="row h-100 mainrow">
        <div class="col-md h-100" />
        <div class="col-md  h-100 homedetails">
            <center>
                <br />
                <div class="logoheart"></div><br />
                <b><h2>Welcome to HeARtcard</h2></b><br />
                <h4>Providing Access to Free Government Services</h4><br />
                <button class="btn-primary rounded-pill"> Avail Free Services </button>
            </center>
        </div>
        <div class="col-md h-100" />
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/Account/Login");
        }
    }
}
