.nav-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    margin-right: 10px; /* Adjust spacing between navigation items */
}

.nav-link {
    color: #000; /* Adjust text color */
    text-decoration: none; /* Remove underline from links */
    display: inline-flex;
    align-items: center;
}

    /* Optional: Adjust styling for navigation icons */
    .nav-link .bi {
        margin-right: 5px; /* Adjust spacing between icon and text */
    }
