.content-home[b-yzc1axms99] {
    background-color:white;
    height: 600px;
}
.rDetails[b-yzc1axms99] {
    background-image: url('images/aboutbd.png');
    background-size:cover;
    background-repeat:no-repeat;
}
.lDetails[b-yzc1axms99] {
    color: #ea2763;
}