.content-home[b-uou8yxbmuy] {
    background-image: url('images/homebg.jpg');
    background-size:cover;
    background-color:aqua;
    height:600px;
}
.logoheart[b-uou8yxbmuy] {
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 200px;
}
.homedetails[b-uou8yxbmuy] {
    color:white;
}
.mainrow[b-uou8yxbmuy] {
    background: rgba(108, 222, 245, 0.3)
}